.DiscussionLink {
	font-weight: 600;
	border-bottom: 1px solid var(--control-bg);
}

.DiscussionLink:hover {
	text-decoration: none;
	border-color: var(--link-color);
}

.DiscussionId, .DiscussionComment {
	font-weight: normal;
	color: var(--muted-color);
}

.DiscussionHero .DiscussionId {
	color: inherit;
	opacity: 0.6;
}

.DiscussionListItem .DiscussionId {
	color: var(--muted-more-color);
	margin-right: 5px;
}

.DiscussionLink .TagLabel {
	font-size: 10px;
	line-height: 14px;
	padding: 1 4px;
	vertical-align: text-bottom;
	position: relative;
	bottom: 2px;
}

.EventPost .DiscussionLink {
	color: var(--link-color);
}

.DiscussionLink.DiscussionUnknown,
.DiscussionUnknown .DiscussionId,
.DiscussionUnknown .DiscussionComment {
	color: var(--muted-more-color);
}

.DiscussionReferencedPost .EventPost-info ul {
	list-style: none;
	padding: 0;
}
